*~
#*
*.aux
*.bbl
*.blg
*.log
*.o
*.so
*.out
*.Renviron
*.Rout
*.toc
*.Rhistory
*.synctex.gz
/cache/*.*
/cache/figs/*.*
/cache/inforeach/*
/tmp/*.*
bak
figure
cache
*concordance.tex
.DS_Store
*.Rproj
.Rproj.user
*.Rdata
*_files

