M1:clear match, M2:disputable match, M3:incorrect match

Only detailing pairs which are disputable or wrong

* W21
  * Alex
    * P2: M1=0, M2=1 (Alex#3/Human#2), M3=0
    * P6: M1=2, M2=0, M3=1 (Alex#8/Human#3)
    * P10: M1=2, M2=0, M3=0
    * P11: M1=0, M2=0, M3=1 (Alex#4/Human#6)
    * P15: M1=0, M2=0, M3=0
  * Doug
    * P2: M1=0, M2=0, M3=0
    * P6: M1=4, M2=3 (Doug#4/Human#7 Doug#1/Human#3 Doug#12/Human#8), M3=0
    * P10: M1=2 M2=0, M3=0
    * P11: M1=0, M2=0, M3=0
    * P15: M1=0, M2=0, M3=0
  * Charlie
    * P2: M1=1, M2=0, M3=1 (Charlie#1/Human#3)
    * P6: M1=4, M2=3 (Charlie#13/Human#6 Charlie#7/Human#7 Charlie#10/Human#10), M3=0
    * P10: M1=0, M2=3 (Charlie#1/Human#7 Charlie#2/Human#7 Charlie#6/Human#7), M3=0
    * P11: M1=0, M2=1 (Charlie#6/Human#7), M3=1 (Charlie#6/Human#6)
    * P15: M1=1, M2=0, M3=0
  * Evan
    * P2: M1=1, M2=0, M3=0
    * P6: M1=3, M2=0, M=0
    * P10: M1=0 M2=2 (Evan#21.10.8/Human#7 Evan“Forward simulations are not goodness-of-fit evidence”/Human#7), M3=0
    * P11: M1=1, M2=0, M3=0
    * P15: M1=0, M2=0, M3=0

* W22
  * Alex
    * P3: M1=1, M2=0, M3=1 (Alex#13/Human#6)
    * P9: M1=3, M2=0, M3=0
    * P13: M1=3, M2=1 (Alex#3/Human#2), M3=0
    * P15: M1=4, M2=2 (Alex#2/Human#7 Alex#15/Human#7), M3=0
    * P22: M1=0, M2=0, M3=0
  * Doug
    * P3: M1=0, M2=0, M3=0
    * P9: M1=7, M2=0, M3=0
    * P13: M1=3, M2=0, M3=0
    * P15: M1=3, M2=0, M3=0
    * P22: M1=0, M2=0, M3=0
  * Charlie
    * P3: M1=3, M2=0, M3=0
    * P9: M1=5, M2=0, M3=0
    * P13: M1=4, M2=0, M3=0
    * P15: M1=6, M2=1 (Charlie#7/Human#5), M3=0
    * P22: M1=0, M2=0, M3=0
  * Evan
    * P3: M1=1, M2=0, M3=0
    * P9: M1=5, M2=0, M3=0
    * P13: M1=3, M2=0, M3=0
    * P15: M1=2, M2=0, M3=0
    * P22: M1=1, M2=0, M3=0
* W24
  * Alex
    * P1: M1=3, M2=2 (Alex#11/Human#8 Alex#12/Human#9), M3=0
    * P7: M1=4, M2=0, M3=1 (Alex#13/Human#7)
    * P9: M1=2, M2=2 (Alex#4/Human#2 Alex#6/Human#4), M3=0
    * P14: M1=3, M2=0, M3=1 (Alex#9/Human#12)
    * P16: M1=2, M2=0, M3=0
  * Doug
    * P1: M1=1, M2=2 (Doug#3/Human#4 Doug#14/Human#3), M3=0
    * P7: M1=5, M2=1 (Doug#5/Human#10), M3=0
    * P9: M1=3, M2=0, M3=0
    * P14: M1=6, M2=0, M3=1 (Doug#11/Human#12(figure related))
    * P16: M1=3, M2=0, M3=0
  * Charlie
    * P1: M1=0, M2=1 (Charlie"Claim of 'well identified' parameters is unsupported"/Human#9), M3=1 (Charlie“Probe interpretation is overly optimistic”/Human#8)
    * P7: M1=4, M2=1 (Charlie#3/Human#6), M3=0
    * P9: M1=1, M2=0, M3=1 (Charlie#2/Human#4)
    * P14: M1=5, M2=0, M3=0
    * P16: M1=2, M2=1 (Charlie#4/Human#5), M3=1 (Charlie#5/Human#5)
  * Evan
    * P1: M1=2, M2=0, M3=2 (Evan24.01.1/Human#9#10)
    * P7: M1=3, M2=1 (Evan24.07.new2/Human#10), M3=0
    * P9: M1=1, M2=1 (Evan24.09.2/Human#5), M3=0
    * P14: M1=1, M2=1 (Evan24.14.4/Human#5), M3=2 (Evan24.14.2/Human#6 Evan24.14.1/Human#8)
    * P16: M1=3, M2=1 (Evan24.16.7/Human#5), M3=0
* W25
  * Alex
    * P2: M1=2, M2=0, M3=0
    * P5: M1=2, M2=0, M3=0
    * P9: M1=3, M2=0, M3=0
    * P11: M1=3, M2=0, M3=0
    * P16: M1=1, M2=1 (Alex#3/Human#4), M3=0
  * Doug
    * P2: M1=3, M2=0, M3=0
    * P5: M1=1, M2=1 (Doug#1/Human#7), M3=0
    * P9: M1=2, M2=0, M3=0
    * P11: M1=3, M2=0, M3=0
    * P16: M1=3, M2=0, M3=0
  * Charlie
    * P2: M1=2, M2=1 (Charlie#4/Human#1), M3=0
    * P5: M1=2, M2=0, M3=0
    * P9: M1=2, M2=3 (Charlie#1/Human#1 Charlie#10/Human#2 Charlie#13/Human#3), M3=1 (Charlie#15/Human#3)
    * P11: M1=3, M2=0, M3=1 (Charlie#12/Human#9)
    * P16: M1=0, M2=3 (Charlie#4/Human#4 Charlie#5/Human#3 Charlie“SIR global search parameters are biologically implausible but not fully discussed”/Human#2), M3=0
  * Evan
    * P2: M1=3, M2=0, M3=0
    * P5: M1=1, M2=1 (Evan#25.09.5/Human#2), M3=0
    * P9: M1=2, M2=0, M3=0
    * P11: M1=3, M2=0, M3=0
    * P16: M1=3, M2=0, M3=0
